section {
  background-image: linear-gradient(
    to right,
    #051937,
    #001e2e,
    #001f1f,
    #151d17,
    #1c1c1b
  );
  min-height: 900px;
  color: rgb(192, 192, 192);
}
.urban-title {
  margin: 35px 0 25px;
}

.form-control.form-input {
  max-width: 700px;
  width: 100%;
  margin: 15px auto;
  background: none;
}
.form-control.form-input:focus {
  background: none;
  color: white;
}

.cards-box.row {
  flex-direction: column;
  align-items: center;
}
.cards-box.row .col {
  /* max-width: fit-content; */
  max-width: 700px;
}

.card-item {
  box-sizing: border-box;
  cursor: pointer;
  margin: 50px 0;
  padding: 15px;
  font-weight: 700;
  position: relative;
  max-height: 150px;
  height: 100%;
  box-shadow: inset 0 0 0 3px black;
  transition: transform 0.2s linear, border 0.2s linear;
}
.card-item::after,
.card-item::before {
  content: "";
  display: block;
  border: 2px solid forestgreen;
  position: absolute;
  width: 0;
  height: 0;
}
.card-item::after {
  top: 0;
  right: 0;
}
.card-item::before {
  bottom: 0;
  left: 0;
}
.card-item:hover::after,
.card-item:hover::before {
  width: 100%;
  height: 100%;
  transition: width 0.25s cubic-bezier(0.77, 0, 0.175, 1),
    height 0.25s ease-out 0.3s;
}

.card-item-title {
  text-transform: capitalize;
  margin: 10px 0;
  display: inline-block;
  position: relative;
  margin-bottom: 10px;
  color: forestgreen;
}
.card-item-title:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 0;
  height: 0;
  background: forestgreen;
  transition: width 0.35s ease-out;
}
.card-item:hover .card-item-title:after {
  width: 100%;
  height: 3px;
}

.card-item-definition {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-weight: 700;
}

.open {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  overflow-y: auto;
  right: 50px;
  top: 50px;
  border-radius: 30px;
  max-width: 400px;
  width: 100%;
  min-height: fit-content;
  max-height: 500px;
  background-color: rgba(0, 0, 0, 0.76);
  transition: opacity 0.3s ease-in, right 0.3s ease-in;
}

.hidden {
  right: -200px;
  opacity: 0;
}

.card-description {
  padding: 20px 10px;
}
.card-description-title {
  text-transform: capitalize;
  color: forestgreen;
}
.card-description-title::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: forestgreen;
  margin-top: 15px;
}
.card-description-inner {
  display: flex;
  flex-direction: column;
}
.card-description-inner p {
  font-weight: 700;
}
.card-description-inner span {
  font-size: 20px;
  color: forestgreen;
  font-weight: 700;
}

.close-button.btn-outline-success {
  border-color: transparent;
}
